#search {
  height: 100%;
  width: 30%;
  text-align: center;
  border: 0;
  margin: 0;
  float: left;
}
#search input {
  margin-left: auto;
  margin-right: auto;
}
#map {
  width: 70%;
  height: 100%;
  float: left;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}
#autoComplete_results_list {
  height: auto;
  position: static;
  left: auto;
  right: auto;
}
.autoComplete_result {
  text-transform: capitalize;
}
