#search {
  height: 100%;
  width: 30%;
  text-align: center;
  border: 0;
  margin: 0;
  float: left;
}
#search input {
  margin-left: auto;
  margin-right: auto;
}
#map {
  width: 70%;
  height: 100%;
  float: left;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}
#autoComplete_results_list {
  height: auto;
  position: static;
  left: auto;
  right: auto;
}
.autoComplete_result, #school_name {
  text-transform: capitalize;
}
#extra {
  display: none;
}

#school_rates {
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #ff7a7a;
  color: white;
}
