#search {
  height: 100%;
  width: 30%;
  text-align: center;
  border: 0;
  margin: 0;
  float: left;
}
#search input {
  margin-left: auto;
  margin-right: auto;
}
#map {
  width: 70%;
  height: 100%;
  float: left;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}
#autoComplete {
  margin-top: 15px;
}
#autoComplete_results_list {
  height: auto;
  position: static;
  left: auto;
  right: auto;
}
.autoComplete_result, #school_name {
  text-transform: capitalize;
}
#extra {
  display: none;
}

#school_rates, #retiro_reasons {
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
}

#back {
  display: none;
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 15px;
}

input[type="range"] {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

#year {
  display: inline-block;
  margin-top: 11px;
  margin-left: 10px;
  vertical-align: top;
}

h3 {
  font-size: 160%;
  padding-top: 12px;
  padding-bottom: 0;
  margin-bottom: -5px;
}
h4 {
  font-size: 120%;
  margin-bottom: 10px;
}
.table td, .table th {
  padding: 0.4rem;
}
#outcomes-tab, #programs-tab {
  display: none;
}
#retiro_wrapper {
  max-height: 70%;
  max-height: 70vh;
  overflow-y: scroll;
}

/* all-blue clusters */
.gm-style > div > div > div > div > div {
  background-repeat-y: no-repeat;
}

select {
  cursor: pointer;
}
#colorscale .square, #colorscale .square-ish {
  display: inline-block;
  height: 12px;
}
#colorscale .square {
  width: 12px;
  opacity: 0.5;
}
#colorscale .sq1 { /* 0.5 */
  background-color: rgb(75, 0, 0)
}
#colorscale .sq2 { /* 0.6 */
  background-color: rgb(75, 14, 0)
}
#colorscale .sq3 { /* 0.7 */
  background-color: rgb(75, 74, 0)
}
#colorscale .sq4 { /* 0.8 */
  background-color: rgb(0, 135, 0)
}
#colorscale .sq5 { /* 0.9 */
  background-color: rgb(0, 195, 0)
}
#colorscale .sq6 { /* 1.0 */
  background-color: rgb(0, 255, 0)
}
.checkbox {
  cursor: pointer;
  user-select: none;
}
.checkbox input {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 6px;
}
.checkbox span {
  display: inline-block;
  vertical-align: middle;
}
#programs-tab li {
  list-style-type: none;
}
